<html ng-app="listaTelefonica">
    <head>
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="lib/boostrap/bootstrap.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <style>
            .jumbotron {
                width: 700px;
                text-align: center;
                margin: auto;
                margin-top: 21px ;
            }
            .table {
                margin-top: 20px;
            }
            .table tr,th{
                text-align: center;
            }
            .form-control{
                margin-bottom: 5px;

            }
            .selecionado{
                background-color: green;
            }

        </style>
        <script>
            angular.module("listaTelefonica",["ngMessages"]);
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
                  $scope.app = "Lista Telefônica do teteu ";
                  $scope.contatos = [
                      {nome:"Rodolfo",telefone:"545454285"},    
                      {nome:"Martinho",telefone:"6454854354"},
                      {nome:"Mariana",telefone:"654656563549"},
                      {nome:"Jorge",telefone:"646464128"}
                  ];
                  $scope.adicionarContato = function (contato){
                      $scope.contatos.push(angular.copy(contato));
                      delete $scope.contato; //deleta os dados que estão no campo do escopo
                      $scope.contatoForm.$setPristine()
                  };
                  $scope.operadoras = [
                      {codinome:"OI",codigo:"15"    ,categoria:"celular"},
                      {codinome:"TIM",codigo:"16"   ,categoria:"celular"},
                      {codinome:"CLARO",codigo:"17" ,categoria:"celular"},
                      {codinome:"VIVO",codigo:"18"  ,categoria:"celular"},
                      {codinome:"GVT",codigo:"22",categoria:"fixo"},
                      {codinome:"EMBRATEL",codigo:"23",categoria:"fixo"}
                      ];
                      $scope.deletarContatos = function(contatos){
                          $scope.contatos = contatos.filter(function (contato){
                              if(!contato.selecionado) return contato;
                          })
                          console.log(contatos);
                      };
                      $scope.isContatoSelecionado = function(contatos){
                          return contatos.some(function (contato){
                              return contato.selecionado;
                          })
                        };
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3 >{{app}}</h3>
            <table class="table table-bordered">
                <tr class="elementos">
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.codinome}}</td>
                </tr>
            </table>
            <hr/>
            <form name="contatoForm">

                <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="nome" ng-required="true" ng-minlength="10"/>
                <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codinome for operadora in operadoras">
                    <option value="">Selecione uma operadora</option>
                </select>
            </form>
            <div ng-messages="contatoForm.$error" class="alert alert-danger">
                <div ng-message="minlength">Favor preencher um nome com pelo menos 10 caracteres</div>
                <div ng-message="pattern">Preencha o telefone no formato 9DDDD-DDDD ou DDDD-DDDD</div>
            </div>
            <div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Favor preencha o nome!!!</div>
            <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Favor preencha o telefone!!!</div>
            <button class=" btn btn-success btn-block" ng-click="adicionarContato(contato)" ng-disabled="">Adicionar Contato</button>
            <button class=" btn btn-danger btn-block" ng-click="deletarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
        </div>
    </body>
    <div ng-include="'footer.html'">

    </div>
</html> 